<%- include('partials/header') %> <% if (locals.error) { %>
<div
  class="text-center max-w-fit mx-auto text-white bg-red-500 px-4 py-2 rounded shadow mb-6"
>
  Incorrect Password
</div>
<% } %>
<form method="post">
  <div>
    <input
      class="bg-transparent focus:shadow outline-none border-2 py-2 px-4 rounded mb-4 w-full"
      type="password"
      placeholder="Enter Password"
      name="password"
      required
    />
  </div>
  <button
    class="py-2 px-4 w-full bg-green-500 rounded text-white shadow"
    type="submit"
  >
    Download
  </button>
</form>

<%- include('partials/footer') %>
